<div class="home">
    <div class="whats-happening">
        <div class="whats-happening-top">
            <div class="whats-happening-top-user-photo"></div>
            <div class="whats-happening-top-placeholder">What's Happening</div>
        </div>
        <div class="whats-happening-bottom">
            <div class="whats-happening-bottom-post-button">Post</div>
        </div>
    </div>
    <div class="show-more-content">Show More Posts</div>
    <div class="content-post">
        <div class="content-post-user">
            <div class="content-post-user-photo"></div>
            <div class="content-post-user-name">RANDOM USER</div>
            <div class="content-post-user-at">@someuser</div>
            <div class="dot"></div>
            <div class="content-post-user-timestamp">5m</div>
        </div>
        <div class="content-post-content">
            Didn't get to go outside for my daily walk, 
            It's freezing cold and pouring rain. 
            Hopefully the weather clears up soon.
        </div>
        <!-- <div class="content-post-actions">Actions here</div> -->
    </div>
    <div class="content-post">
        <div class="content-post-user">
            <div class="content-post-user-photo"></div>
            <div class="content-post-user-name">Bestusername</div>
            <div class="content-post-user-at">@someuser</div>
            <div class="dot"></div>
            <div class="content-post-user-timestamp">2hr</div>
        </div>
    </div>
    <div class="content-post">
        <div class="content-post-user">
            <div class="content-post-user-photo"></div>
            <div class="content-post-user-name">Tony Garner</div>
            <div class="content-post-user-at">@someuser</div>
            <div class="dot"></div>
            <div class="content-post-user-timestamp">1d</div>
        </div>
        <div class="content-post-content">
            Tuned in for the blue moon tonight,
            It was truly a sight to see and I 
            am greatful for the experience
        </div>
    </div>
    <div class="content-post">
        <div class="content-post-user">
            <div class="content-post-user-photo"></div>
            <div class="content-post-user-name">Elton Notjohn</div>
            <div class="content-post-user-at">@someuser</div>
            <div class="dot"></div>
            <div class="content-post-user-timestamp">2d</div>
        </div>
    </div>
</div>
